<div class="row content">
  <h1 style="font-weight: 500;font-size: 30px;">Shipping</h1>
</div>
<div class="row">
<div class="col-md-6">
    <form #shippingForm="ngForm">
      <label>Name</label>
      <mat-form-field appearance="outline">
        <input matInput type="text" name='name' ngModel required>
      </mat-form-field>
      <label>Address</label>
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="Line 1" name='addressLine1' ngModel required>
      </mat-form-field>
      <mat-form-field appearance="outline" style="margin-top: 12px;">
        <input matInput type="text" placeholder="Line 2" name='addressLine2' ngModel required>
      </mat-form-field>
      <label>City</label>
      <mat-form-field appearance="outline">
        <input matInput type="text" name='city' ngModel required>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="placeOrder()"
      [disabled]="!shippingForm.valid">Place Order</button>
    </form>
  </div>
  <div class="col-md-6" id="summary">
    <div class="jumbotron jumbotronCustom">
      <h1 style="margin-bottom: 2px;">Order Summary</h1>
      <p>You have {{ shoppingCartItems.cartItems.length }} items in your shopping cart</p>
      <table class="table table-responsive table-striped">
        <tr *ngFor="let cartItem of shoppingCartItems.cartItems">
          <td><h4>{{ cartItem.quantity }} x {{ cartItem.item.name }}</h4></td>
          <td><h4>{{ cartItem.itemTotal | currency: '₹' }}</h4></td>
        </tr>
        <tr>
          <td><h3>Total</h3></td>
          <td><h3>{{ shoppingCartItems.cartTotal | currency: '₹' }}</h3></td>
        </tr>
      </table>
    </div>
  </div>
</div>
