.content {
  margin-top: 10px;
  margin-left: 7px;
}

form {
  padding-left: 7px;
}

mat-form-field {
  width: 100%;
}

/* to adjust height of mat-form-field just decrease or increase the font size */
::ng-deep .mat-form-field {
  font-size: 10px;
}

table {
  table-layout: fixed;
  width: 100%;
}

table td{
  width: 100%;
}

.jumbotronCustom {
  background-color: white;
  border: 1px solid grey;
  border-radius: 0.5rem;
  padding-top: 7px;
  padding-left: 10px
}

@media only screen and (max-width: 600px) {
  #summary {
    margin-top: 40px;
  }
}
