.content {
  margin-top: 10px;
  margin-left: 7px;
}

.tableheadingTop {
  font-weight: lighter;
}

.table td, .table th {
  border: none;
}

.table td {
  text-align: center;
  vertical-align: middle;
}

table tr, .table {
  border: 1px solid black;
}

.itemEnd {
  float: right;
}

@media only screen and (max-width: 600px) {
  .jumbotronClass {
    width: 95%;
    background-color: #FFFFFF;
    border: 0.5px solid grey;
  }
  table {
    width: 98%;
  }
}
